<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-attachment-heading" data-cy="AttachmentCreateUpdateHeading" jhiTranslate="imoReviewApp.attachment.home.createOrEditLabel">
        Creeare sau editare Attachment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="imoReviewApp.attachment.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              Acest câmp este necesar.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="imoReviewApp.attachment.cvFile" for="field_cvFile">Cv File</label>
          <div>
            <div *ngIf="editForm.get('cvFile')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('cvFile')!.value!, editForm.get('cvFileContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Deschidere</a
              ><br />
              <span class="pull-start">{{ editForm.get('cvFileContentType')!.value }}, {{ byteSize(editForm.get('cvFile')!.value!) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ cvFile: undefined, cvFileContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_cvFile"
              data-cy="cvFile"
              (change)="setFileData($event, 'cvFile', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="cvFile" id="field_cvFile" data-cy="cvFile" formControlName="cvFile" />
          <input
            type="hidden"
            class="form-control"
            name="cvFileContentType"
            id="field_cvFileContentType"
            formControlName="cvFileContentType"
          />
          <div *ngIf="editForm.get('cvFile')!.invalid && (editForm.get('cvFile')!.dirty || editForm.get('cvFile')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cvFile')?.errors?.required" jhiTranslate="entity.validation.required">
              Acest câmp este necesar.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="imoReviewApp.attachment.cvFileContentType" for="field_cvFileContentType"
            >Cv File Content Type</label
          >
          <input
            type="text"
            class="form-control"
            name="cvFileContentType"
            id="field_cvFileContentType"
            data-cy="cvFileContentType"
            formControlName="cvFileContentType"
          />
          <div
            *ngIf="
              editForm.get('cvFileContentType')!.invalid &&
              (editForm.get('cvFileContentType')!.dirty || editForm.get('cvFileContentType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cvFileContentType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Acest câmp este necesar.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="imoReviewApp.attachment.manytoone" for="field_manytoone">Manytoone</label>
          <select
            class="form-control"
            id="field_manytoone"
            data-cy="manytoone"
            name="manytoone"
            formControlName="manytoone"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Anulare</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvare</span>
        </button>
      </div>
    </form>
  </div>
</div>
