<div>
  <h2 id="page-heading" data-cy="AttachmentHeading">
    <span jhiTranslate="imoReviewApp.attachment.home.title">Attachments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="imoReviewApp.attachment.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-attachment"
        [routerLink]="['/attachment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="imoReviewApp.attachment.home.createLabel"> Creeare o nouă entitate Attachment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="attachments?.length === 0">
    <span jhiTranslate="imoReviewApp.attachment.home.notFound">No Attachments found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="attachments && attachments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="imoReviewApp.attachment.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cvFile">
            <div class="d-flex">
              <span jhiTranslate="imoReviewApp.attachment.cvFile">Cv File</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cvFileContentType">
            <div class="d-flex">
              <span jhiTranslate="imoReviewApp.attachment.cvFileContentType">Cv File Content Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="manytoone.login">
            <div class="d-flex">
              <span jhiTranslate="imoReviewApp.attachment.manytoone">Manytoone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attachment of attachments | attachmentFilter: userFilter; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/attachment', attachment.id, 'view']">{{ attachment.id }}</a>
          </td>
          <td>{{ attachment.name }}</td>
          <td>
            <a
              *ngIf="attachment.cvFile"
              (click)="openFile(attachment.cvFile, attachment.cvFileContentType)"
              jhiTranslate="entity.action.open"
              >Deschidere</a
            >
            <span *ngIf="attachment.cvFile">{{ attachment.cvFileContentType }}, {{ byteSize(attachment.cvFile) }}</span>
          </td>
          <td>{{ attachment.cvFileContentType }}</td>
          <td>
            {{ attachment.manytoone?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/attachment', attachment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vizualizare</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/attachment', attachment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editare</span>
              </button>

              <button type="submit" (click)="delete(attachment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Ștergere</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="attachments && attachments.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
